#page-loader
{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:#E6E8EC;
    z-index:1020
}

.publish {
    display: inline-block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
}
.publish:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: -200%; top: -200%; /* Положение подсказки */
    z-index: 999; /* Отображаем подсказку поверх других элементов */
    background: rgba(255,255,230,0.5); /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 10px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    /*border: 1px solid #333; !* Параметры рамки *!*/
}

.bootstrap-select  li.selected a{
    background: #3086E4;
    color: white;
}
.bootstrap-select  li.selected a:hover{
    background: #256CB8;
}
#page-loader.fade
{
    display:none
}
#page-loader.fade.in
{
    display:block
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    border-color: lightgrey;
}

.table-hover > thead > tr {
    height: 50px;
    background-color: #00acac;
    border-color: snow;
}

tr:nth-child(even){background-color: #f2f2f2}



@-webkit-keyframes rotation
{
    from
    {
        -webkit-transform:rotate(0deg)
    }
    to
    {
        -webkit-transform:rotate(359deg)
    }

}
@-moz-keyframes rotation
{
    from
    {
        -moz-transform:rotate(0deg)
    }
    to
    {
        -moz-transform:rotate(359deg)
    }

}
@-o-keyframes rotation
{
    from
    {
        -o-transform:rotate(0deg)
    }
    to
    {
        -o-transform:rotate(359deg)
    }

}
@keyframes rotation
{
    from
    {
        transform:rotate(0deg)
    }
    to
    {
        transform:rotate(359deg)
    }

}
.spinner,.spinner-small
{
    height:40px;
    width:40px;
    position:absolute;
    top:50%;
    left:50%;
    margin:-20px -20px 0 0;
    border:2px solid #fff;
    border-top:2px solid #24B498;
    border-radius:100%
}
.fade.in .spinner,.fade.in .spinner-small
{
    -webkit-animation:rotation .6s infinite linear;
    -moz-animation:rotation .6s infinite linear;
    -o-animation:rotation .6s infinite linear;
    animation:rotation .6s infinite linear
}
.spinner-small
{
    border:2px solid rgba(0,0,0,.05);
    border-top:2px solid #24B498;
    height:30px;
    width:30px;
    margin:-15px -15px 0 0
}
.panel-danger>.panel-heading,.panel-info>.panel-heading,.panel-inverse>.panel-heading,.panel-primary>.panel-heading,.panel-success>.panel-heading,.panel-warning>.panel-heading
{
    color:#fff
}
.panel-inverse>.panel-heading
{
    background:#242a30
}
.panel-body
{
    padding:15px
}
.panel-body.no-border
{
    border:none!important
}
.panel-body.no-padding,.panel-body.panel-form,.panel-body.panel-full-width,.panel-body.panel-table
{
    padding:0!important
}
.panel-body.with-table>.table
{
    border:0;
    margin:0
}
.panel-body.with-table>.table tr:last-child td,.panel-body.with-table>.table tr:last-child th
{
    border-bottom:0
}
.panel-default>.panel-heading+.panel-collapse .panel-body
{
    border-top:1px solid #eee
}
.panel-footer
{
    background:#fff;
    border-top:1px solid #eee
}
.panel .tab-content
{
    -webkit-border-radius:0 0 3px 3px;
    -moz-border-radius:0 0 3px 3px;
    border-radius:0 0 3px 3px
}
.panel-default>.panel-heading
{
    background:#fafafa
}
.dataTables_filter input,.dataTables_length select
{
    border:1px solid #ccd0d4;
    background:#fff;
    font-size:12px;
    padding:6px 12px;
    line-height:1.42857143;
    color:#555;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}
.dataTables_length select
{
    margin-right:10px;
    height:34px!important;
    width:auto!important
}
.dataTables_filter input
{
    border-color:#ccd0d4;
    height:34px;
    margin-left:10px
}
.dataTables_filter input:focus
{
    outline:0;
    border-color:#9fa2a5;
    -webkit-box-shadow:none;
    box-shadow:none
}
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    color:#fff;
    background:#00acac
}
.sidebar-menu .treeview-menu > li
{
    padding:5px 20px;
    display:block;
    font-weight:300;
    text-decoration:none;
    position:relative
}
.sidebar-menu .treeview-menu > li > a {
    padding: 5px 20px;
    display: block;
    font-weight: 300;
    text-decoration: none;
    position: relative;
}
.m-t-10 {
    margin-top: 10px !important;
}
.content
{
    padding:20px 25px
}
.select2-container .select2-selection--single {
    min-height: 34px!important;
}
.page-header
{
    font-size:24px;
    margin:0 0 20px;
    padding:0;
    border:none;
    line-height:28px
}
.select2-selection__choice
{
    color: black !important;
}
.dataTable
{
    border:1px solid #ccd0d4;
    background:#fff;
    font-size:12px;
    padding:6px 12px;
    line-height:1.42857143;
    color:#555;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}
.filter {
    float: right;
}
.filter label
{
    padding-left: 10px;
}
.filter select
{
    border: 1px solid #ccd0d4;
    background: #fff;
    font-size: 12px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 34px!important;
    width: auto!important;
}
.btn-scroll-to-top
{
    position:fixed;
    bottom:20px;
    right:25px;
    z-index:1020
}
.page-with-right-sidebar .btn-scroll-to-top
{
    left:25px;
    right:auto
}
.btn-circle,.btn.btn-circle
{
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    background: #00acac;
    /* border-radius:50%; */
}
.btn-icon,.btn.btn-icon
{
    display:inline-block;
    width:28px;
    height:28px;
    padding:0;
    border:none;
    line-height:28px;
    text-align:center;
    font-size:14px;
}